<p class="copyright">
    <a href="https://mojotv.cn">Chinese Tech Blog</a> |
    <a href="https://captcha.mojotv.cn">Golang Captcha Open Source Project</a> |
    <a href="https://www.youtube.com/channel/UCX6rNsdQm37Z7-egP4ygF4g">Youtube Channel</a> |
    <a href="http://space.bilibili.com/148303288">Bilibli Channel</a> |
    <a mailto="neochau@gmail.com" target="_blank">neochau@gmail.com</a>&nbsp;&nbsp;|&nbsp;
    <a href="//github.com/mojocn">Github Account Mojocn</a>
    <a href="//github.com/mojocn">Github Organization Libragen</a>
</p>